/* Reset Password Styles */
.reset-password-section {
	background: #f8f8f8;
	padding: 40px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 400px;
	margin: 40px auto;
	text-align: center;
}

.reset-password-section h2 {
	color: #000000;
	margin-bottom: 20px;
}

.reset-password-section p {
	color: #b8effb;
	font-weight: 500;
	margin-bottom: 20px;
}

.reset-password-section .form-group {
	margin-bottom: 20px;
	text-align: left;
}

.reset-password-section label {
	display: block;
	margin-bottom: 10px;
	color: #000000;
}

.reset-password-section input {
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #f0f0f0f0;
	background-color: #f0f0f0f0;
	color: #000000;
}

.reset-password-section button {
	background-color: #b8effb;
	color: #000000;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.reset-password-section button:hover {
	background-color: #000000;
	color: #b8effb;
}